<div class="postFeed">
  <div class="blogPost">.
  </div>
    <div class="newPostCard">
      <div>
        <p>Event Name: {{event_name}}</p>
        <p>Artist Name: {{artist_name}}</p>
        <p>Event Time: {{event_time}}</p>
        <p>Stage Time: {{stage_time}}</p>
        <p>Description: {{description}}</p>
        <div class="corner"></div>
      </div>
    </div>
</div>